.storage/app/public
.storage/framework/cache
.storage/framework/sessions
.storage/framework/testing
.storage/framework/views
.storage/log

vendor/
node_modules/
bootstrap/cache

Dockerfile
Dockerfile.testing
docker-composer.testing.yml
docker-composer.yml
.env
